<div class="index" data-anim-index>

	<include src="@components/layout/hero/hero.html"></include>

	<include src="@components/layout/about/about.html"></include>

	<include src="@components/layout/credentials/credentials.html"></include>

	<include src="@components/layout/journey/journey.html"></include>

	<include src="@components/layout/projects/projects.html"></include>

	<include src="@components/layout/skills/skills.html"></include>

	<include src="@components/layout/ghactivity/ghactivity.html"></include>

	<include src="@components/layout/contact/contact.html"></include>

</div>
