# Node modules
node_modules/

# Build outputs
dist/
build/
.vite/

# Vite temp files
*.local
*.cache

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment files
.env
.env.*.local
.env.local

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Editor / IDE
.vscode/
.idea/
*.suo
*.user
*.userossc
*.sln.docstates

# Generated assets or temp data
*.log
*.tmp
*.temp

# Reference/working images not meant for the published site
reference_images/

#docs
mydocs/

#manuscript files
src/components/pages/manuscript/
scr/manuscript.html
